:root {
  --color-primary: #00aeef;
  --color-secondary: #0e5374;
  --color-tertiary: #071822;

  --sepia: #222222;
  --white: #ffffff;

  --radius-sm: 6px;
  --radius-md: 10px;
  --radius-lg: 20px;
  --radius-gg: 50px;

  --shadow-sm: 0 2px 6px rgba(10, 59, 82, 0.25);
  --shadow-md: 0 4px 12px rgba(10, 59, 82, 0.25);
  --shadow-lg: 0 6px 20px rgba(10, 59, 82, 0.25);

  --transition-speed: 0.3s;

  --font-sans-serif: "Raleway", sans-serif;
}

html.light {
  --blue-lighter: #e3f7ff;
  --blue-light: #aee6fb;
  --normal-blue: #77daff;
  --darker-blue: #39bff2;

  --green-rate: #C8FFAA;
  --yellow-rate: #FFF696;
  --orange-rate: #FFB367;
  --red-rate: #FF6666;

  --green-rate-pastel: #F1FFEA;
  --yellow-rate-pastel: #FFFBD9;
  --orange-rate-pastel: #FFEAD5;
  --red-rate-pastel: #FFE8E8;

  --green-rate-darker: #418d18;
  --yellow-rate-darker: #AA9700;
  --red-rate-darker: #a81f1f;

  --th-fst-rate-bg: var(--blue-lighter);
  --th-snd-rate-bg: var(--blue-light);

  --color-line-bd: #22222241;
  --color-filter-bd: var(--darker-blue);
  --color-filter-bg: var(--blue-lighter);
  --color-menu-bg: var(--white);
  --color-li-hover: var(--blue-lighter);
  --color-modal-bg: var(--white);
  --color-tooltip-bg: var(--white);
  --color-settings-bg: #ebebeb;
  --color-settings-hover: #e2e2e2;
  --color-profile-bg: var(--darker-blue);
  --color-profile-user: var(--blue-light);

  --theme-bg: var(--white);
  --theme-text: var(--sepia);

  background-color: var(--theme-bg);
  color: var(--theme-text);
}

html.dark {
  --blue-lighter: #ace8ff;
  --blue-light: #1d5a77;
  --normal-blue: #0a3b52;
  --darker-blue: #081b26;

  --green-rate: #336e13;
  --yellow-rate: #AA9700;
  --orange-rate: #c96500;
  --red-rate: #a81f1f;

  --green-rate-pastel: #273b1b;
  --yellow-rate-pastel: #3b361b;
  --orange-rate-pastel: #46290f;
  --red-rate-pastel: #361111;

  --th-fst-rate-bg: var(--normal-blue);
  --th-snd-rate-bg: var(--color-secondary);

  --color-line-bd: #ffffff4d;
  --color-filter-bd: var(--normal-blue);
  --color-filter-bg: var(--normal-blue);
  --color-menu-bg: var(--darker-blue);
  --color-li-hover: #0a202d;
  --color-modal-bg: var(--darker-blue);
  --color-tooltip-bg: var(--blue-light);
  --color-settings-bg: #0a202d;
  --color-settings-hover: var(--normal-blue);
  --color-profile-bg: var(--normal-blue);
  --color-profile-user: var(--blue-lighter);

  --theme-bg: var(--darker-blue);
  --theme-text: var(--white);

  --shadow-sm: 0 2px 6px rgba(255, 255, 255, 0.05);
  --shadow-md: 0 4px 10px rgba(255, 255, 255, 0.1);

  background-color: var(--theme-bg);
  color: var(--theme-text);
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: var(--font-sans-serif);
  color: var(--theme-text);
  -webkit-font-feature-settings: "lnum";
  -moz-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
}

#app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.blue-button {
  background: var(--color-primary);
  color: var(--white);
  border: none;
  padding: 1rem 1.2rem;
  border-radius: var(--radius-lg);
  font-weight: 600;
  cursor: pointer;
  box-shadow: var(--shadow-sm);
  font-family: var(--font-sans-serif);
  font-size: medium;
}

.blue-button:hover {
  background: var(--color-secondary);
}

a {
  color: var(--theme-text);
  text-decoration: none;
  transition: color var(--transition-speed);
  font-weight: 600;
}

a>img {
  font-weight: normal;
}

.label-form {
  background-color: var(--theme-bg);
  position: relative;
  left: 22px;
  bottom: -10px;
  padding: 0 0.3rem;
  width: fit-content;
  font-size: 14px;
  font-weight: 500;
}

.input-form {
  padding: 1.2rem;
  border-radius: var(--radius-lg);
  border-style: solid;
  background: none;
  border-color: var(--color-primary);
  font-family: var(--font-sans-serif);
  color: var(--theme-text);
  font-size: 16px;
  font-weight: 500;
}

p,
input,
select,
button {
  font-family: var(--font-sans-serif);
  color: var(--theme-text);
  -webkit-font-feature-settings: "lnum";
  -moz-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
}

input:focus {
  outline: none;
}

select:focus {
  outline: none;
}

option {
  color: var(--sepia);
}

.icons {
  width: 0.8rem;
  height: auto;
}

.fill-me {
  stroke: var(--theme-text);
  fill: var(--theme-text);
}

.fill-not {
  stroke: var(--theme-text);
}