.table-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 1rem 1rem 0 0;
  overflow: hidden;
}

table {
  display: table;
  border-spacing: 0;
  width: 100%;
}

#first-thead {
  background-color: var(--th-fst-rate-bg);
}

#second-thead {
  background-color: var(--th-snd-rate-bg);
}

th {
  padding: 1rem 0;
}

button:focus {
  border: none;
}

tr {
  text-align: left;
  font-weight: 500;
}

.main-table {
  padding: 0.9rem 0;
}

#sub-table th:nth-child(1) {
  width: 13%;
}

.sub-table {
  padding: 0.8rem 0;
}

.middle {
  position: relative;
  top: 1.1rem;
  margin: 0;
}

.truncate {
  max-width: 9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropout-rate {
  text-align: center;
}

#small-blue {
  height: 0.5rem;
  background-color: var(--th-snd-rate-bg);
}
.start-column {
  padding-left: 1.7rem;
}

.full-line {
  border-bottom: 1px solid var(--color-line-bd);
}

.green-rate {
  background-color: var(--green-rate);
}

.yellow-rate {
  background-color: var(--yellow-rate);
}

.orange-rate {
  background-color: var(--orange-rate);
}

.red-rate {
  background-color: var(--red-rate);
}
